.product-card {
    border-radius: 18px;
    overflow: hidden;
    background: #ffffff;
}

.card-top-area {
  background: #eef3f7;
  height: 250px;           
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;       
  border-radius: 18px 18px 0 0;
}

.card-img-top-custom {
  width: 100%;
  height: 100%;
  object-fit: cover;       
  object-position: center; 
}

.price-text {
    color: #22c55e;
    font-size: 20px;
    font-weight: 700;
}

.category-pill {
    background: #eef3f7;
    padding: 6px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
}

.edit-btn {
    width: 85%;
    background: #eef3f7;
    border: none;
    padding: 10px;
    border-radius: 12px;
    font-weight: 500;
}

.delete-btn {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background: #fff3f3;
    border: none;
    color: #ff4d4f;
    font-size: 18px;
}